[build]
builder = "nixpacks"

[deploy]
healthcheckPath = "/api/bugs"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[[deploy.volumes]]
mountPath = "/app/data"
name = "bug-tracker-data"